* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none !important;
    color: black !important;
}

.active {
    font-weight: bold;
}

.contact-us-btn {
    font-weight: bold;
}

.banner-img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.banner-section {
    margin: 120px 0;
}

.cards-indroduce-section {
    margin: 120px 0;
}

.place-introduce-section i img {
    width: 3rem;
    height: 3rem;
}

.place-introduce-items {
    line-height: 3;
}

.place-introduce-items p {
    font-weight: bold;
}

.pics-introduce-section {}

.right-arrow {
    margin-top: 200px;
}

.choose-place-section {
    background: url("images/black-elegant-background-with-copy-space.jpg") no-repeat center center / cover;
}
.articles-left-side ul li{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 5px;
    
}
.articles-left-side ul li:last-child{
    border-bottom: 1px solid black;
}